.Product {
  .edit {
    text-align: end;
    button {
    }
  }

  .product-content {
    display: flex;
    .image {
      width: 50%;
      img {
        width: 100%;
      }
    }

    .description {
      margin: 0 auto;
      .name {

      }

      .count {

      }

      .size {
        .wight {

        }

        .height {

        }
      }

      .weight {

      }

      .comments {
        .comment {
          .comment-description {
          }

          .comment-date {

          }
        }
      }
    }
  }
}